<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <div class="row d-flex justify-content-end border-bottom border-white">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">

            <!--<button class="btn btn-transparent text-white mb-2 border-white" type="button">Login</button>-->
            <a href="/" class="btn btn-transparent text-white mb-2 border-white"> Home</a>
        </div>
    </div>

    <div class="container">
        <h1 class="text-white text-center"> Información:</h1>
        <h3 class="text-white text-center">LOS MEJORES DESTINOS DONDE VER LAS AURORAS BOREALES</h3>
        <h3 class="text-white text-center">Noruega</h3>
        <p class="text-white text-center">Tromsø es un buen punto de partida para explorar la Laponia noruega y el Cabo Norte, uno de los mejores lugares del mundo para ver auroras boreales. En las afamadas islas Lofoten, de septiembre a marzo el cielo se ilumina con las luces del norte en un entorno que aguarda maravillas como Preikestolen o roca del Púlpito, que se alza a 604 metros sobre Lysefjord. </p>
        <h3 class="text-white text-center">FINLANDIA</h3>
        <p class="text-white text-center">Este país es especialista en hacer fácil lo casi imposible. Para ver las auroras boreales existen en la Laponia finlandesa originales instalaciones como iglús de cristal en Saariselkä (Inari) o en Levi (Kittilä); y en el pueblo de Nellim, en el lago Inari, además del campamento Aurora. proponen suites instaladas en medio de la nieve con el techo acristalado para observar cómodamente las «luces»</p>
        <h3 class="text-white text-center">ISLANDIA</h3>
        <p class="text-white text-center">Es uno de los lugares donde las auroras aparecen más cerca de una ciudad, así que en Reikiavik se pueden observar incluso desde el hotel. No obstante, lo más recomendable es hacerlo a las afueras, lejos de la contaminación lumínica. En el Parque Nacional de Thingvellir y Vatnajökull, el más extenso de Europa, las luces se convierten en el mejor telón de fondo junto a ríos y glaciares, igual que en Stokksnes y en Kirkjufell. En este punto del planeta, septiembre y marzo son los mejores momentos para observarlas en términos de actividad solar.</p>


    </div>
    
    <div class="row border-top border-white">
        <p class="text-center text-white pe-3 mt-2">© 2022 - Rocío Calderón</p>
    </div>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>